<div class="main">
  <footer class="page-footer orange darken-4">
    <div class="footer-copyright">
      <div class="container">
        <p>
          93 Diagon Alley, London, England
        </p>
      </div>
    </div>
  </footer>
</div>
