<div class="row">
<% @items.each do |item| %>
  <div class="col s4">
    <div class="card">
      <div class="card-image">
        <img src="<%= item.image_tag %>" />
      </div>
      <div class="card-content">
          <span class="card-title"><%= link_to item.title, item_path(item) %></span>
          <h5>
            $<%= item.price %>
          </h5>
          <%= button_to "Add to Cart", carts_path(item_id: item.id), class: "waves-effect waves-light btn" %>
      </div>
    </div>
  </div>
<% end %>
</div>
