<nav>
   <div class="nav-wrapper orange darken-3">
     <a href="<%= root_path %>" class="brand-logo">Weasleys' Wizard Wheezes</a>
     <a href="/cart" class="brand-logo">View Cart</a>
   </div>
 </nav>
