<h1><%= current_user.username %>'s Orders</h1>

<table>
  <tr>
    <th>Order Number</th>
    <th>Order Total</th>
    <th>View</th>
  </tr>
<% @orders.each do |order| %>
    <tr>
      <td>#<%= order.id %>
      <td><%= order.total_price %></td>
      <td><%= link_to "View", order_path(order) %></td>
    </tr>
  <% end %>
  </table>


