<h1><%= current_user.username %>'s Orders</h1>

<table>
  <tr>
    <th>Order Number</th>
    <th>Order Total</th>
    <th>View</th>
  </tr>
<% @orders.each do |order| %>
  <table>
    <tr>
      <th>Order Number</th>
      <th></th>
      <th>Total</th>
    </tr>
    <tr>
      <td>#<%= order.id %>
      <td><%= number_to_currency(order.total_price, precision: 2) %></td>
      <td><%= link_to "View", order_path(order) %></td>
    </tr>
  <% end %>
  </table>
