<h1>Username Cart</h1>

<h3 class='total'>Total: $<%= @cart.total %></h3>

<table>
  <thead>
    <tr>
        <th data-field="item-name">Item</th>
        <th data-field="quantity">Quantity</th>
        <th data-field="price">Price</th>
    </tr>
  </thead>

  <tbody>
    <% @cart.contents.each do |item, quantity| %>
    <% range = (0..10).to_a.map{ |i| i.to_s } %>
    <tr>
      <td><%= Item.find(item).title %></td>
      <td><%= collection_select(@cart, range, :quantity, @cart.set_quantity(:quantity), :to_i, prompt: quantity.to_s) %></td>

      <td>$<%= Item.find(item).price %></td>
    </tr>
    <% end %>
  </tbody>
</table>
