

<div class="row">
<% @items.each do |item| %>
  <div class="col s4">
    <div class="card">
      <div class="card-image">
      </div>
      <div class="card-content">
          <span class="card-title"><%= item.title %></span>
          <p>
            <%= item.price %>
          </p>
      </div>
    </div>
  </div>
<% end %>
</div>
