/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.

 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* --------------- Color Glossery -------------- */
 /* # Orange darken-3: #E65100 */
 /* # Dark Green: #042A2B */
 /* # Minty Green(Medium Aquamarine) #69DC9E */
 /* # Light Yellow: #F2F3AE */
 /* # Dark Purple/eggplanty: #3A2449 */

  /* ------------------- headers ------------------*/

  /* ------------------- body ------------------*/
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Chelsea Market', cursive;
  }

  #main {
    flex: 1 0 auto;
  }

  .image-format {
    width: 200px;
    height: 200px;
  }

  /* ------------------- footer ------------------*/
  #footer .page-footer{
     position:absolute;
     bottom:0;
     width:100%;
     height:40px;
  }

  .flash {
    color: #69dc93;
    font-size: 22px;
  }

  td {
    padding: 0 10px 0 10px;
  }

  th {
    padding: 0 10px 0 10px;
  }

  #quantity-form {
    width: 50px;
  }

  .my-links {
    padding-top: 10px;
  }
  /* ------------------- classes ------------------   */

  .item-description {
    width: 150px;
    display: inline-block;
    padding: 48px 0 0 0;
  }

  .item-description-head {
    width: 150px;
  }

  .item-quantity {
    padding-left: 30px;
  }

  .cart-table td {
    font-size: 16px;
  }

  .cart-table th {
    font-size: 20px
  }

  .image-format-show {
    height: 500px;
    width: 400px;
  }

  .order-index td{
    padding: 15px 0 15px 15px;
  }

  .admin-orders td{
    padding: 15px 0 15px 0;
  }

  .admin-orders .change-status {
    margin: 5px 0 5px 0;
  }

  #view-admin-order {
    margin-left: 10px;
  }

  /* ------------------ navbar ---------------- */
nav .nav-wrapper{
  color: #F2F3AE;
  background-color: #E65100;
}

nav .brand-logo {
    position: absolute;
    color: #3A2449;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    white-space: nowrap;
}
nav ul a {
    transition: background-color .3s;
    font-size: 1rem;
    color: #F2F3AE;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

nav a {
    background-color: transparent;
}

  /* ------------------- a ------------------   */

  /*----- jumbotron ---------*/
#index-banner {
  background-image: url("/images/store_front.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:  cover;;
  margin: 0px;
  max-width: 100%;
  max-height: 700px;
}

.transparent {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.80;
  color: #3A2449;
}

.jumbotron {
  background-color: #69DC9E;
}

#jumbotron {
  padding-top: 325px;
}

.btn-jumbotron {
  background-color: #F2F3AE;
  color: #3A2449;
  font-size: 24px;
}

.jumbo-block {
  background-color: #3A2449;
  color: #FC9E4F;
}

.jumbo-block a:link {
 font-weight: bold;
 text-decoration: none;
 color: #FC9E4F;
 }

.jumbo-block a:visited {
 font-weight: bold;
 text-decoration: underline;
 color: #FC9E4F;
 }

.jumbo-block a:hover {
 font-weight: normal;
 text-decoration: none;
 color: #E65100;
 background: #69DC9E;
 }

.jumbo-block a:active {
 font-weight: normal;
 text-decoration: none;
 color: #FC9E4F;
 background: #cc0000;
 }
/* # Orange darken-3: #E65100 */
/* # Dark Green: #042A2B */
/* # Minty Green(Medium Aquamarine) #69DC9E */
/* # Light Yellow: #F2F3AE */
/* # Dark Purple/eggplanty: #3A2449 */
/* # Neon Carrot: #FC9E4F */
