<h3>Write a Review</h3>

<%= form_for([@item, @review]) do |f| %>

<select class="browser-default review-rating" name= "review[rating]">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select>

  <%= f.label "Your Review and Rating" %>
  <%= f.text_area :content, class: "materialize-textarea" %>
  
  <%= f.submit "Submit Review", class: "btn" %>

<% end %>
