<h3>Write a Review</h3>

<%= form_for([@item, @review]) do |f| %>

  <%= f.text_area :content %>

  <select class="browser-default" name= "review[rating]">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>

  <%= f.submit "Submit Review" %>

<% end %>
